data
output
.ipynb_checkpoints
src/00_inputParameters.csv
src/01_inputParameters.csv
src/03_inputParameters.csv
src/04_inputParameters.csv
src/03:09:18_inputParameters.csv
src/sandbox.m
src/python/tmp
src/python/.ipynb_checkpoints
src/python/classes/__pycache__
src/python/modules/__pycache__
PyLattice_Manual.docx
~$Lattice_Manual.docx
PyLattice_Manual_v1.0.docx
~$Lattice_Manual_v1.0.docx
input/big_data/
input/big_data_DMSO_cutoff7000_bleachCorrected/
input/big_data_JASP_cutoff7000_bleachCorrected/
input/big_data_LY_cutoff7000_bleachCorrected/
input/big_data_cutoff7000/
input/big_data_cutoff7000_bleachCorrected/
input/imaging_data/_inputParameters.csv
input/imaging_data/output_setting_2018-04-30_stricter_treshold10000_sigma1.3/
input/imaging_data/output_setting_2018-04-30_stricter_treshold5000_sigma1.3/
input/imaging_data/output_settings_2018-04-30/
input/training_data/
src/python/_deprecated
src/python/_MBoC_data_specific
src/python/_notDeployed
src/python/_notDeployed
src/python/_tmp
