data
output
.ipynb_checkpoints
src/00_inputParameters.csv
src/01_inputParameters.csv
src/03_inputParameters.csv
src/04_inputParameters.csv
src/03:09:18_inputParameters.csv
src/sandbox.m
src/python/tmp
src/python/.ipynb_checkpoints
src/python/classes/__pycache__
src/python/modules/__pycache__
